<NavBar />

<div id= "sitePurpose">
    <p>Hello we are M&amp;J. This website was created to provide users with a great place to find and use old and new recipes. We hope that you enjoy using the site and we also hope that you find some great inspiration for your next dish here.</p>

</div>