

<div class= "about-container">
    <h2>About Us</h2>
    <p>Hello we are your amature web developers MK and Joe. We built this site to give users a place to look up some amazing recipes to add to their repetoire.You will find a great collection of amazing recipies here that will have your mouth watering before you even cook anything. This site also has a place for a user to add s recipe to the collection if it's not already in there. We hope you enjoy using the site.
    </p>

</div>{{!--End about-container div--}}