<NavBar />
<div class="jumbo container-fluid">
    <div class="right food"></div>
    <h2>Welcome to M&amp;J Recipes!</h2>
    <p>We hope you will find any recipes that suit your fancy</p>
</div>

<div class= "recipeCard container-fluid">
    <div id= "foodImage"></div>
    <div id= "recipeTitle">Title: </div>
    <div id= "coookTime">Cook Time: </div>
    <ul class= "collapse" id="ingredients"></ul>
</div>